In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

In [0]:
import pandas as pd
import numpy as np
from scipy.sparse.linalg import svds
from sklearn.decomposition import NMF
from sklearn.decomposition import TruncatedSVD

In [0]:
ratings_list = [i.strip().split("::") for i in open('/content/gdrive/My Drive/RLProject/Data/ml-1m/ratings.dat', 'r').readlines()]
users_list = [i.strip().split("::") for i in open('/content/gdrive/My Drive/RLProject/Data/ml-1m/users.dat', 'r').readlines()]
movies_list = [i.strip().split("::") for i in open('/content/gdrive/My Drive/RLProject/Data/ml-1m/movies.dat',encoding="latin-1").readlines()]

In [0]:
ratings = np.array(ratings_list)
users = np.array(users_list)
movies = np.array(movies_list)
ratings_df = pd.DataFrame(ratings_list, columns = ['UserID', 'MovieID', 'Rating', 'Timestamp'], dtype = int)
movies_df = pd.DataFrame(movies_list, columns = ['MovieID', 'Title', 'Genres'])
movies_df['MovieID'] = movies_df['MovieID'].apply(pd.to_numeric)

In [5]:
print(ratings.shape)

(1000209, 4)

In [0]:
ratings_df['UserID'] = ratings_df['UserID'].astype(int)
ratings_df['MovieID'] = ratings_df['MovieID'].astype(int)
ratings_df['Rating'] = ratings_df['Rating'].astype(int)
ratings_df['Timestamp'] = ratings_df['Timestamp'].astype(int)
ratings_df['MovieID'] = ratings_df['MovieID'].apply(pd.to_numeric)

In [0]:
R_df = ratings_df.pivot(index = 'UserID', columns ='MovieID', values = 'Rating').fillna(0)
R_df.head()
R = R_df.values
user_ratings_mean = np.mean(R, axis = 1)
R_demeaned = R - user_ratings_mean.reshape(-1, 1)

In [8]:
U, sigma, Vt = svds(R_demeaned, k = 50)
sigma = np.diag(sigma)
all_user_predicted_ratings = np.dot(np.dot(U, sigma), Vt) + user_ratings_mean.reshape(-1, 1)
preds_df = pd.DataFrame(all_user_predicted_ratings, columns = R_df.columns)
preds_df.head()

MovieID      1         2         3     ...      3950      3951      3952
0        4.288861  0.143055 -0.195080  ...  0.031912  0.050450  0.088910
1        0.744716  0.169659  0.335418  ... -0.101102 -0.054098 -0.140188
2        1.818824  0.456136  0.090978  ...  0.012345  0.015148 -0.109956
3        0.408057 -0.072960  0.039642  ... -0.026050  0.014841 -0.034224
4        1.574272  0.021239 -0.051300  ...  0.033830  0.125706  0.199244

[5 rows x 3706 columns]

In [9]:
def recommend_movies(predictions_df, userID, movies_df, original_ratings_df, num_recommendations=5):
    user_row_number = userID - 1 # UserID starts at 1, not 0
    sorted_user_predictions = preds_df.iloc[user_row_number].sort_values(ascending=False) # UserID starts at 1
    user_data = original_ratings_df[original_ratings_df.UserID == (userID)]
    user_full = (user_data.merge(movies_df, how = 'left', left_on = 'MovieID', right_on = 'MovieID').
                     sort_values(['Rating'], ascending=False)
                 )
    print(user_full.head())
    print('User {0} has already rated {1} movies.'.format(userID, user_full.shape[0]))
    print('Recommending highest {0} predicted ratings movies not already rated.'.format(num_recommendations))
    # Recommend the highest predicted rating movies that the user hasn't seen yet.
    recommendations = movies_df[~movies_df["MovieID"].isin(user_full['MovieID'])]
    recommendations = recommendations.merge(pd.DataFrame(sorted_user_predictions).reset_index(), how = 'left',
               left_on = 'MovieID',
               right_on = 'MovieID')
    recommendations = recommendations.rename(columns = {user_row_number: 'Predictions'})
    recommendations = recommendations.sort_values(['Predictions'], ascending = False)
    recommendations = recommendations.iloc[:num_recommendations, :-1]

    return user_full, recommendations
already_rated, predictions = recommend_movies(preds_df, 837, movies_df, ratings_df, 10)
print(predictions)

    UserID  MovieID  ...                           Title              Genres
36     837      858  ...           Godfather, The (1972)  Action|Crime|Drama
35     837     1387  ...                     Jaws (1975)       Action|Horror
65     837     2028  ...      Saving Private Ryan (1998)    Action|Drama|War
63     837     1221  ...  Godfather: Part II, The (1974)  Action|Crime|Drama
11     837      913  ...      Maltese Falcon, The (1941)   Film-Noir|Mystery

[5 rows x 6 columns]
User 837 has already rated 69 movies.
Recommending highest 10 predicted ratings movies not already rated.
      MovieID  ...                       Genres
516       527  ...                    Drama|War
1848     1953  ...  Action|Crime|Drama|Thriller
596       608  ...         Crime|Drama|Thriller
1235     1284  ...            Film-Noir|Mystery
2085     2194  ...           Action|Crime|Drama
1188     1230  ...               Comedy|Romance
1198     1242  ...             Action|Drama|War
897       922  ...                    Film-Noir
1849     1954  ...                 Action|Drama
581       593  ...               Drama|Thriller

[10 rows x 3 columns]

In [10]:

already_rated.head(10)

    UserID  ...                   Genres
36     837  ...       Action|Crime|Drama
35     837  ...            Action|Horror
65     837  ...         Action|Drama|War
63     837  ...       Action|Crime|Drama
11     837  ...        Film-Noir|Mystery
20     837  ...  Adventure|Comedy|Sci-Fi
34     837  ...       Film-Noir|Thriller
55     837  ...                   Comedy
31     837  ...           Comedy|Romance
28     837  ...    Action|Comedy|Western

[10 rows x 6 columns]

In [11]:
predictions

      MovieID  ...                       Genres
516       527  ...                    Drama|War
1848     1953  ...  Action|Crime|Drama|Thriller
596       608  ...         Crime|Drama|Thriller
1235     1284  ...            Film-Noir|Mystery
2085     2194  ...           Action|Crime|Drama
1188     1230  ...               Comedy|Romance
1198     1242  ...             Action|Drama|War
897       922  ...                    Film-Noir
1849     1954  ...                 Action|Drama
581       593  ...               Drama|Thriller

[10 rows x 3 columns]

## **Model Evaluation**

In [104]:
!pip install surprise

Requirement already satisfied: surprise in /usr/local/lib/python3.6/dist-packages (0.1)
Requirement already satisfied: scikit-surprise in /usr/local/lib/python3.6/dist-packages (from surprise) (1.1.0)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise->surprise) (1.12.0)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise->surprise) (1.4.1)
Requirement already satisfied: numpy>=1.11.2 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise->surprise) (1.18.3)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise->surprise) (0.14.1)

In [0]:
import pandas as pd
import numpy as np
from surprise import SVD
from surprise import SVDpp
from surprise import Dataset
from surprise.model_selection import cross_validate
from surprise.model_selection import KFold
from collections import defaultdict

In [14]:

# Load the dataset (download it if needed)
data = Dataset.load_builtin('ml-1m')
kf = KFold(n_splits = 5)
# Use the famous SVD algorithm
algo = SVD()

# Run 5-fold cross-validation and then print results
cross_validate(algo, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)

Dataset ml-1m could not be found. Do you want to download it? [Y/n] y
Trying to download dataset from http://files.grouplens.org/datasets/movielens/ml-1m.zip...
Done! Dataset ml-1m has been saved to /root/.surprise_data/ml-1m
Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.8726  0.8756  0.8743  0.8741  0.8699  0.8733  0.0019
MAE (testset)     0.6849  0.6873  0.6864  0.6852  0.6826  0.6853  0.0016
Fit time          51.27   52.01   51.95   52.33   52.12   51.94   0.36
Test time         1.70    2.19    2.23    1.73    2.14    2.00    0.24

{'fit_time': (51.27277684211731,
  52.01305365562439,
  51.95322942733765,
  52.333860635757446,
  52.1150643825531),
 'test_mae': array([0.68491612, 0.6872737 , 0.68636962, 0.6851536 , 0.68263057]),
 'test_rmse': array([0.87259056, 0.87559995, 0.8742955 , 0.87411295, 0.86993232]),
 'test_time': (1.6960456371307373,
  2.1940250396728516,
  2.2317709922790527,
  1.728822946548462,
  2.141263484954834)}

In [0]:
def precision_recall_at_k(predictions, k=10 ,threshold=4):
    user_est_true = defaultdict(list)
    for uid, _, true_r, est, _ in predictions:
        user_est_true[uid].append((est, true_r))

    precisions = dict()
    recalls = dict()
    for uid, user_ratings in user_est_true.items():
        user_ratings.sort(key=lambda x: x[0], reverse=True)
        n_rel = sum((true_r >= threshold) for (_, true_r) in user_ratings)
        n_rec_k = sum((est >= threshold) for (est, _) in user_ratings[:k])
        n_rel_and_rec_k = sum(((true_r >= threshold) and (est >= threshold))
                              for (est, true_r) in user_ratings[:k])
        precisions[uid] = n_rel_and_rec_k / n_rec_k if n_rec_k != 0 else 1
        recalls[uid] = n_rel_and_rec_k / n_rel if n_rel != 0 else 1
    return precisions, recalls

In [0]:
def get_P_R_F(data, algo):
    for trainset, testset in kf.split(data):
        algo.fit(trainset)
        predictions = algo.test(testset)
        precisions, recalls = precision_recall_at_k(predictions, k = 5, threshold = 4)
        P = sum(prec for prec in precisions.values()) / len(precisions)
        R = sum(rec for rec in recalls.values()) / len(recalls)
        F1 = 2 * P * R / (P + R)
        print('precision : ', P)
        print('recall : ', R)
        print('F1 : '  , F1)

In [144]:
algo = SVD(n_factors = 10, n_epochs = 1, biased = False, lr_all = 0.009, reg_all = 0.2)
get_P_R_F(data, algo)

precision :  0.721877763041557
recall :  0.18532016607288798
F1 :  0.294926834900898
precision :  0.7209969621651487
recall :  0.18405891853340198
F1 :  0.293254646375114
precision :  0.724630120348902
recall :  0.18464249020120188
F1 :  0.2942957004172187
precision :  0.7283603931963776
recall :  0.1888855204012758
F1 :  0.29997785734246
precision :  0.7242750621375321
recall :  0.19092730290056836
F1 :  0.3021930219035299